%ul.city-stat.clearfix
	%li= "Founded in city.foundation_date"
	%li= "Population: around city.population humans"
	%li= "Density: city.density people per km&sup2;".html_safe
	%li= link_to "Official website", city.website