body
	background: #111122 url(image-path('bg.jpg')) no-repeat fixed
	background-size: cover
	color: #ffffff
	.pure-menu-heading
		font-family: 'Niconne', cursive
	input, select, textarea
		color: #112
	#masonry-container
		.box
			background: rgba(0,0,0,0.5)
			border-radius: 16px
			color: #ffffff
			margin: 2em 0
			max-width: 100%
			padding: 0 0.8em
			img
				width: 500px
				max-width: 100%
	/*h1, h2, h3, h4, h5, h6*/
	h1, h3, h5
		padding-left: 24%
	h2, h4, h6
		margin: 0.7em 0 0.9em
		padding-left: 65%