body
	background: #111122 url(image-path('bg.jpg')) no-repeat fixed
	background-size: cover
	color: #ffffff
	#menu
		.pure-menu-heading
			font-family: 'Niconne', "Book Antiqua", Palatino, serif
			font-size: 120%
	input, select, textarea
		color: #112
	h1, h1, h2, h3, h4, h5, h6, .name-core-miniblock
		div, span
			text-align: center
		a
			padding: 0.3em 0.5em
	.sm-text
		font-weight: 100
		font-size: 70%
	a
		color: #ccccdd
		color: rgba(240,240,255,0.55)
		display: inline-block
		text-decoration: none
		text-shadow: 1px 1px 10px rgba(240,240,255,0.7)
		-webkit-transition: all 0.2s ease-in-out
		-moz-transition: all 0.2s ease-in-out
		-o-transition: all 0.2s ease-in-out
		-ms-transition: all 0.2s ease-in-out
		transition: all 0.2s ease-in-out

		&[href*="//"]:after
			font-family: FontAwesome
			font-size: 56%
			content: ' \f08e'

		&.asc:after
			content: ' ▲'
		&.desc:after
			content: ' ▼'
		&.desc:after, &.asc:after
			-webkit-animation: rotate-3d 2s
			-moz-animation: rotate-3d 2s
			animation: rotate-3d 2s
		&:hover, &.current
			color: #ffffff
			text-shadow: 0 0 1px #f0dddd
			color: rgba(235,230,230,0.75)
	#masonry-container
		margin: -0.7em auto 0
		.box
			color: #ffffff
			margin: 1em 0
			max-width: 100%
			padding: 0.8em 0.8em 0
			img
				box-shadow: 5px 14px 80px 25px rgba(0,0,0,0.85)
				cursor: pointer
				width: 480px //img(src='480' srcset='300w, 740w')
				max-width: 100%
			h3, h5, span
				margin: 6px 0 5px
			h3
				font-size: 118%
			h5
				font-size: 96%
			span.fl-right
				position: relative
			:not(.city-photo)
				z-index: 1
	.block, .box, .pswp__caption__center
		h1, h2, h4, h3, h5, .name-core-miniblock
			display: inline-block
			font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
			font-variant: small-caps
			font-weight: 600
			margin-left: 0.7em
		h1, h2
			margin-bottom: 0.4em
			margin-top: 0.2em
	.pswp__caption__center
		h3
			font-size: 139%
		h5
			font-size: 122%
		.sm-text
			font-size: 90%
	.block
		display: block
		max-width: 100%
		margin: 0 0.5em 0
		padding: 0.05em 1em 0
		text-align: center
		&:first-child
			margin-top: 0.5em
		img
			margin: 1em auto
		.pull-down
			margin-top: 1em
	main
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		width: 70em
		max-width: 100%
		&.block
			margin-right: auto
			margin-left: auto

	.black-white
		filter: gray /* IE6-9 */
		filter: grayscale(1) /* FF35+ */
		-webkit-filter: grayscale(1)

	.name-core-miniblock
		&>h1
			margin-left: 0
		.small-text
			font-size: 88%
		.md-text
			font-size: 123%
	.num-line
		font-size: 90%
		margin-left: 1em
		&>img
			bottom: -1em
			display: inline-block
			margin: 0
			position: relative
			width: 2.5em
		&[data-utcoffset]:before
			content: "🕑 "
	.hor-list
		margin: 0
		padding: 0
		li
			display: inline-block
			list-style: none
			a
				font-size: 98%
				margin-right: 10px
				padding: 10px 5px
			&:last-child
				a:after
					content: ''
	.pagination
		.current
			font-size: 110%
			font-style: normal
		.disabled
			display: none
		&>*
			padding: 0.3em 0.6em
	.inline-subblock
		display: inline-block
	.with-separator
		&>*
			border-right: 0.2em solid rgba(255,255,255,0.25)
			padding: 0 2em
		&>:last-child
			border-right: none
	.flashes
		max-height: 10em
		overflow: hidden
		padding: 2em 0.5em 0.5em
		-webkit-transition: all 1.2s ease-in 4.2s
		-moz-transition: all 1.2s ease-in 4.2s
		-o-transition: all 1.2s ease-in 4.2s
		-ms-transition: all 1.2s ease-in 4.2s
		transition: all 1.2s ease-in 4.2s
		&.hide
			max-height: 0
			padding: 0 0.5em
	.flash
		border-bottom: 0.15em solid rgba(31,141,214,0.7)
		padding-bottom: 0.4em
		text-align: center
	#map-canvas
		width: 100%
		max-width: 100%
		height: 500px
	i.pull-down
		position: relative
		left: 0.2em
		top: 0.4em
	.fl-right
		float: right
	.fl-left
		float: left
	.vert-al-super, a[href*="//"]:after
		vertical-align: super
	.clearfix
		overflow: auto

=keyframes($name)
	@-webkit-keyframes #{$name}
		@content
	@-moz-keyframes #{$name}
		@content
	@-ms-keyframes #{$name}
		@content
	@keyframes #{$name}
		@content

+keyframes(rotate-3d)
	100%
		-webkit-transform: rotateY(360deg)
		-moz-transform: rotateY(360deg)
		-o-transform: rotateY(360deg)
		transform: rotateY(360deg)